.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  width: 100%;
  max-width: 430px;
  min-width: 282px;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 530px) {
  .modal__container {
    width: 88%;
  }
}
