.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  display: block;
}

.modal__container {
  background-color: #fff;
  max-width: 430px;
  min-width: 282px;
  position: relative;
  border-radius: 10px;
  margin: 195px auto 0;
}

@media screen and (max-width: 530px) {
  .modal {
    justify-content: center;
    align-items: flex-start;
  }

  .modal_opened {
    display: flex;
  }

  .modal__container {
    margin: 123px 19px 0 19px;
  }
}
