.profile {
  display: grid;
  grid-template-columns: 150px minmax(282px, 415px) minmax(60px, 315px);
  grid-template-rows: auto;
  grid-template-areas: "image description add-button";
  align-items: center;
  justify-content: center;
  max-width: 880px;
  padding-top: 36px;
  width: 100%;
}
.profile__image {
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  grid-area: image;
}

.profile__content {
  display: grid;
  grid-template-columns: minmax(auto, 373px) minmax(18px, 24px);
  grid-template-rows: auto auto;
  grid-template-areas:
    "name edit-button"
    "title title";
  align-items: center;
  column-gap: 18px;
  grid-area: description;
}

.profile__name {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.4s ease;
}

.profile__title {
  margin: 8px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.4s ease;
}

.profile__edit-button {
  background-image: url(../images/edit-icon.svg);
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-position: center;
  transition: all 0.4s ease;
  grid-area: edit-button;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background-image: url(../images/add-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  grid-area: add-button;
  justify-self: end;
  align-self: center;
  transition: all 0.4s ease;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 780px) {
  .profile__content {
    grid-template-columns: minmax(auto, 250px) 24px;
  }

  .profile__add-button {
    width: 80%;
  }

  .profile__name {
    font-size: 28px;
  }
}

@media screen and (max-width: 530px) {
  .profile {
    grid-template-columns: 282px;
    grid-template-areas:
      "image"
      "description"
      "add-button";
    justify-items: center;
    text-align: center;
  }

  .profile__content {
    grid-template-columns: auto 18px;
    margin-top: 30px;
    column-gap: 10px;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__title {
    font-size: 14px;
    margin: 7px 0 0 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }

  .profile__add-button {
    width: 100%;
    justify-self: center;
    margin-top: 35px;
    background-size: 16px 16px;
  }
}
