.profile {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image description add-button";
  max-width: 880px;
  padding-top: 62px;
}
.profile__image {
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  grid-area: image;
}

.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0;
  grid-area: description;
}

.profile__name {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
}

.profile__title {
  margin: 8px 0 0 0;
  font-size: 18px;
  line-height: 1.2;
}

.profile__button_content_edit {
  background-image: url(../images/edit-icon.svg);
  width: 24px;
  height: 24px;
  background-color: black;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-position: center;
  transition: opacity ease-in 0.2s;
  margin-left: 18px;
}

.profile__button_content_edit:hover {
  opacity: 0.6;
}

.profile__button_content_add {
  background-image: url(../images/add-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  background-color: black;
  border: 2px solid #fff;
  transition: opacity ease-in 0.2s;
  grid-area: add-button;
  justify-self: end;
  align-self: center;
}

.profile__button_content_add:hover {
  opacity: 0.6;
}
